packages:
  yum:
    gcc: []
    gcc-c++: []
    make: []
    python3-devel: []
    libffi-devel: []
    cairo-devel: []
    pango-devel: []
    gdk-pixbuf2: []
    libxml2-devel: []
    libxslt-devel: []
    mariadb105-devel: []

# Remove WSGIPath because Procfile will handle startup
# option_settings:
#   aws:elasticbeanstalk:container:python:
#     WSGIPath: wareq_wms/wsgi.py

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
